<h1 class='page-header'>Listing shifts <%= link_to 'New Shift', new_shift_path, class: 'btn btn-default' %>
</h1>
<table class='table'>
  <thead>
    <tr>
      <th>Id</th>
      <th>Start</th>
      <th>End</th>
      <th>Desk</th>
      <th>User</th>
      <th>Sub Needed</th>
      <th>Specialpay</th>
      <th>Graveyardshift</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @shifts.each do |shift| %>
      <tr>
        <td><%= shift.id %></td>
        <td><%= shift.shift_start %></td>
        <td><%= shift.shift_end %></td>
        <td><%= shift.desk %></td>
        <td><%= shift.user_id %></td>
        <td><%= shift.sub_needed %></td>
        <td><%= shift.specialpay %></td>
        <td><%= shift.graveyardshift %></td>
        <td>
          <div class='btn-group btn-default btn-group-xs'>
            <%= link_to 'Show', shift, class: 'btn btn-default' %>
            <%= link_to 'Edit', edit_shift_path(shift), class: 'btn btn-default' %>
            <%= link_to 'Destroy', shift, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


