<p id="notice"><%= notice %></p>

<p>
  <strong>Start:</strong>
  <%= @shift.shift_start %>
</p>

<p>
  <strong>End:</strong>
  <%= @shift.shift_end %>
</p>

<p>
  <strong>Desk:</strong>
  <%= @shift.desk %>
</p>

<p>
  <strong>User:</strong>
  <%= @shift.user_id %>
</p>

<p>
  <strong>Sub needed:</strong>
  <%= @shift.sub_needed %>
</p>

<p>
  <strong>Specialpay:</strong>
  <%= @shift.specialpay %>
</p>

<p>
  <strong>Graveyardshift:</strong>
  <%= @shift.graveyardshift %>
</p>

<%= link_to 'Edit', edit_shift_path(@shift) %> |
<%= link_to 'Back', shifts_path %>
